<div id="left">
    <h3> Info about file </h3>
</div>
<div id="right">
    <p><b> ID: </b>{{id}}</p>
    <p><b> Name: </b>{{name}}</p>
    <p><b> Size: </b>{{size}}</p>
    <p><b> Type: </b>{{type}}</p>
    <p><b> Location: </b>{{path}}</p>
    <p><b> UploadedAt: </b>{{date}}</p>
    <p><b> Extension: </b>{{extension}}</p>
</div>